# Gravitee License (base64 encoded)
GRAVITEE_LICENSE=PUT_YOUR_BASE64_LICENSE_HERE

# Gravitee API Management
APIM_REGISTRY=graviteeio
# https://hub.docker.com/r/graviteeio/apim-gateway/tags?name=4.11
APIM_VERSION=4.11.4
APIM_VERSION_GATEWAY=4.11.4-debian

# Gravitee Access Management
AM_REGISTRY=graviteeio
# https://hub.docker.com/r/graviteeio/am-gateway/tags?name=4.11
AM_VERSION=4.11.8

# Gravitee Alerting Engine
# https://hub.docker.com/r/graviteeio/ae-engine/tags?name=2
AE_VERSION=3.0.0

# Databases versions
# https://hub.docker.com/_/mongo/tags?name=8.0
MONGODB_VERSION=8.0.20
# https://www.docker.elastic.co/r/elasticsearch/elasticsearch
ELASTIC_VERSION=9.3.3
# https://hub.docker.com/_/redis/tags?name=8.6
REDIS_VERSION=8.6.2-alpine3.23

# AI
# https://hub.docker.com/r/ollama/ollama/tags
OLLAMA_VERSION=0.21.1
# https://github.com/modelcontextprotocol/inspector/pkgs/container/inspector
MCP_INSPECTOR_VERSION=0.21.1

# OpenFGA
# https://github.com/openfga/openfga/releases
OPENFGA_VERSION=v1.14.1
# https://hub.docker.com/_/postgres/tags?name=17
POSTGRES_VERSION=17.9